.appLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #e2e8f0;
}

.mainContent {
  flex: 1;
  padding: 24px;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
